{% extends 'tweets/base.html' %}
{% load humanize%}

{% block content %}
<div class="actions">
    {% for action in actions %}
    <div class="action {%if not forloop.last%}border-bottom border-black mb-2{%endif%} pb-4">
        <div class="row">
            <div class="col-1">
                <img src="{{action.user.profile.pic.cdn_url}}" alt="" class="profile-image">
            </div>
            <div class="col">
<p><a href="{{action.user.get_absolute_url}}">{{action.user.username}}</a> {{action.action}} <a href="{{action.content_object.get_absolute_url}}">{% if action.content_object == request.user%}you{% else %}{{action.content_object|lower}}{%endif%}</a></p>
                <small>{{action.time|naturaltime}}</small>
            </div>
        </div>
    </div>
    {% empty %}
        <h5 class="text-center p-3">There are no notifs atm</h5>
    {% endfor %}
</div>
{% endblock %}