{% extends 'tweets/base.html' %}
{% load humanize%}

{% block content %}
<div class="actions">
    {% for action in actions %}
    <div class="action {%if not forloop.last%}border-bottom border-black mb-2{%endif%} pb-4">
        <div class="row">
            <div class="col-1">
                <img src="{{action.user.profile.pic.cdn_url}}" alt="" class="profile-image">
            </div>
            <div class="col">
                <p><a href="{{action.user.get_absolute_url}}">{{action.user.username}}</a> {{action.action}} {{action.content_object|lower}}</p>
                <small>{{action.time|naturaltime}}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}