{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block styles %}
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/tweets.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
            crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
    {% endblock %}

    <title>{% block title%}{% endblock %}</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        {% include 'navbar/navbar_in.html' %}
    {% else %}
        {% include 'navbar/navbar_out.html' %}
    {% endif %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>