{% extends 'tweets/base.html' %}
{% load humanize %}
{% load static %}

{% block title%}Home{% endblock %}


{% block content %}
    <div class="row mx-5">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="tweets">
                {% include 'tweets/tweets.html' %}
            </div>
        </div>
        <div class="col recommendations">
            <h3 class="text-center">Suggested Users</h3>
            {% for profile in users %}
                <div class="user row mb-3">
                    <div class="col-2">
                        <img src="{{profile.user.profile.pic.cdn_url}}" alt="" class="profile-image">
                    </div>
                    <div class="col">
                        <p>{{profile.user.username}}</p>
                        <a href="{{profile.user.get_absolute_url}}" class="btn btn-primary btn-sm">View Profile</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}  

{% block scripts %}
{{block.super}}
    <script>
        let like = (id) => {
            let btn = $(`a.like[value=${id}]`)
            $.ajax({
                "url":"/like/",
                "type":"POST",
                "data":{
                    "id":parseInt(id),
                    "csrfmiddlewaretoken":"{{csrf_token}}"
                },
                "dataType":"json",
                "success":(res) => {
                    $(btn).html(res["has_liked"] ? "<i class='far fa-heart d-inline-block mx-2'></i>" + res['count'] : "<i class='fas fa-heart d-inline-block mx-2'></i>" + res["count"])
                    
                }
            })
        }
        
        let retweet = (id) => {
            let btn = $(`a.retweet[value=${id}]`)
            $.ajax({
                "url":"/retweet/",
                "type":"POST",
                "data":{
                    "id":parseInt(id),
                    "csrfmiddlewaretoken":"{{csrf_token}}"
                },
                "dataType":"json",
                "success": (res) => {
                    res['retweeted'] ? $("i." + id).addClass("green") : $("i." + id).removeClass("green");
                    $(`.retweet-count.${id}`).text(res["count"])
                }
            })
        }
    </script>
{% endblock %}