{% load static %}
{% load humanize %}
{% load extras %}


{% for tweet in tweets %}
{% if not tweet.is_retweet%}
<div onclick="single('{{tweet.id}}')" class="tweet row py-3 {% if not forloop.last %}border-bottom border-black{% endif %}" id="{{tweet.id}}">
{% else %}
<div onclick="single('{{tweet.tweet.id}}')" class="tweet row py-3 {% if not forloop.last %}border-bottom border-black{% endif %}"id="{{tweet.id}}">
{% endif %}
    <div class="image col-1 mr-2">
        {% if tweet.is_retweet %}
            {% if tweet.tweet.user.profile.pic.cdn_url %}
            <img src="{{tweet.tweet.user.profile.pic.cdn_url}}" alt="" class="profile-image d-inline-block">
            {% else %}
            <img src="{% static 'images/user.png' %}" alt="" class="profile-image d-inline-block">
            {% endif %}
        {% else %}
            {% if tweet.user.profile.pic.cdn_url %}
            <img src="{{tweet.user.profile.pic.cdn_url}}" alt="" class="profile-image d-inline-block">
            {% else %}
            <img src="{% static 'images/user.png' %}" alt="" class="profile-image d-inline-block">
            {% endif %}
        {% endif %}
    </div>
    <div class="content col-9 text-left mx-0 pl-3">
        {% if not tweet.is_retweet %}
        <a href="{{tweet.user.get_absolute_url}}">@<strong>{{tweet.user.username}}</strong></a>
        <small>{{tweet.pub_date|naturaltime}}</small>
        <p>{{tweet.content}}
            {% if tweet.tags.all %}
            {% for tag in tweet.tags.all %}
            <a href="#" class="tag">#{{tag.name}}</a>
            {% endfor %}
            {% endif %}
        </p>
        <div class="extras">
            <a onClick="showModal('{{tweet.user.get_absolute_url}}','{{tweet.user.username}}','{{tweet.pub_date|naturaltime}}','{{tweet.content}}','{{tweet.user.profile.pic.cdn_url}}','{{request.user.id}}','{{tweet.id}}')" class="mr-4 d-inline-block"><i data-id='{{tweet.id}}' class="far fa-comment d-inline-block mx-2"></i><span class="comments" id="{{tweet.id}}">{{tweet.comments.all.count}}</span></a>
            <a style="cursor: pointer" class="mr-4 d-inline-block retweet" onclick="retweet('{{tweet.id}}')" value="{{tweet.id}}"><i class="{{tweet.id}} fas {% if tweet.id|has_retweeted:request.user.id %}green{% endif %} fa-retweet d-inline-block mx-2"></i><span class="retweet-count {{tweet.id}}">{{tweet.retweets.all.count}}</span></a>
            <a value='{{tweet.id}}' onclick="like('{{tweet.id}}')" class="like mr-4 {% if request.user in tweet.likes.all %}liked{%endif%}"><i
                    class="like {% if request.user in tweet.likes.all %}fas{%else%}far{%endif%} fa-heart d-inline-block mx-2"></i>{{tweet.likes.all.count}}</a>
        </div>
        {% else %}
            <small class="d-block">Retweeted by {{tweet.user}}</small>
            <a href="{{tweet.tweet.user.get_absolute_url}}">@<strong>{{tweet.tweet.user.username}}</strong></a>
            <small>{{tweet.tweet.pub_date|naturaltime}}</small>
            <p>{{tweet.tweet.content}}
                {% if tweet.tweet.tags.all %}
                {% for tag in tweet.tweet.tags.all %}
                <a href="#" class="tag">#{{tag.name}}</a>
                {% endfor %}
                {% endif %}
            </p>
            <div class="extras">
                <a class="mr-4 d-inline-block"><i data-id='{{tweet.id}}' class="far fa-comment d-inline-block mx-2"></i>{{tweet.tweet.comments.all.count}}</a>
                <a style="cursor:pointer" class="mr-4 d-inline-block retweet" onclick="retweet('{{tweet.tweet.id}}')" value="{{tweet.tweet.id}}"><i class="{{tweet.tweet.id}} fas {% if tweet.tweet.id|has_retweeted:request.user.id %}green{% endif %} fa-retweet d-inline-block mx-2"></i><span class="retweet-count {{tweet.tweet.id}}">{{tweet.tweet.retweets.all.count}}</span></a>
                <a value='{{tweet.tweet.id}}' onclick="like('{{tweet.tweet.id}}')" class="like mr-4 {% if request.user in tweet.tweet.likes.all %}liked{%endif%}"><i
                        class="like {% if request.user in tweet.tweet.likes.all %}fas{%else%}far{%endif%} fa-heart d-inline-block mx-2"></i>{{tweet.tweet.likes.all.count}}</a>
            </div>
        {% endif %}
    </div>
</div>
{% endfor %}


