* {
    font-family: Maven Pro;
    margin: 0;
    padding: 0
}
body {
    background: #eee;
}
.extras {
    display: flex;
}
/* .row {
} */
nav {
    box-shadow: 0 2px 2px -2px gray;
}
.tweets,.recommendations {
    /* margin: 0 auto; */
    border: 1px solid white;
    width: 100%;
    padding: 17px;
    height: auto;
    background: white;
    margin-bottom: 15px;
}
.profile-tweets {
    border: 1px solid white;
    width: 60%;
    padding: 17px;
    height: auto;
    background: white;
    margin: 0 auto 15px auto;
}
.profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.fas.fa-heart {
    color: crimson;
}
.green {
    color: rgb(118, 182, 22);
}
.home {
    margin-top: 100px;
}
.primary,.btn-primary {
    background-color: #1DA1F2;
    outline-color: #1DA1F2;
}
.primary:hover,
.btn-primary:hover {
    background-color: #1DA1F2
}

.container {
    margin-top: 100px;
}
.liked {
    color: crimson;
}
span {
    cursor: pointer;
}
.profile-image-2 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.thead {
    background-color: #1DA1F2;
    color: #fff;
}
.recommendations {
    height: 300px;
}

@media (max-width: 768px) {
    .recommendations {
        display: none;
    }
}