body {
    background: #eee;
}
.extras {
    display: flex;
}

nav {
    box-shadow: 0 2px 2px -2px gray;
}
.tweets {
    margin: 0 auto;
    border: 1px solid white;
    width: 55%;
    padding: 17px;
    background: white;
}
.profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.fas.fa-heart {
    color: crimson;
}
.liked {
    color: crimson;
}
span {
    cursor: pointer;
}
.profile-image-2 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}