{% extends 'registration/base.html' %}
{% load bootstrap4 %}

{% block title%}Change Password{% endblock %}

{% block content %}
<div class="row mt-5">
    <div class="card col-xs-10 col-sm-9 col-md-4 m-auto  p-0">
        <div class="card-header w-100">
            <h4 class="text-center">Login</h4>
        </div>
        <div class="card-body">
            <form action="{% url 'password_change' %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="form-group text-center">
                    <input type="submit" value="Change Password" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
