{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white mb-5 fixed-top" style="box-shadow: 0 2px 2px -2px gray;">
    <a href="/"><img src="{% static 'images/icon.png' %}" alt="" class="img-responsive nav-brand mr-5" height="25px"
            width="30px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}"><span><i class="fas fa-sign-in-alt"></i></span>Login</a>
            </li>
        </ul>
    </div>
</nav>
